{% extends "base.html.twig" %}

{% block body %}
<nav class = 'nav'>
    <ul>
        <li><a href="">Accueil</a></li>
        <li><a href="">Projets</a></li>
        <li><a href=""></a>Membres</li>
    </ul>
    <ul>
    <div class="loginLiGroup">
        <i class="fa-regular fa-user userIcon"></i>
        <i class="fa-solid fa-user userIcon2"></i>
        <li class = "login"><a href=""></a>Connexion</li>

    </div>
    </ul>
</nav>
{% endblock %}